# התעלמות מתיקיות ספריות בכל הפרויקט
node_modules/

# התעלמות מקבצי הגדרות סביבה בכל הפרויקט
.env

# התעלמות מקבצי בנייה (למשל של Vite בקליינט)
dist/

# התעלמות מקבצים ספציפיים בתיקייה הראשית
note.txt

# התעלמות מקבצי לוג
*.log




# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
